#app{
    height: 100vh;
}

#backgroundApp{
    height: 100%;
    background: rgb(0,150,135);
    background: linear-gradient(180deg, rgba(0,150,135,1) 15%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 100%);
    z-index: -1;
}

#webApp{
    height: 95vh;
    width: 80vw;
    margin: 0 auto;
}

#Lapp{
    height: 95vh;
    background-color: rgb(160, 160, 160);
}

#Rapp{
    height: 95vh;
    background-color: rgb(160, 160, 160);
    padding: 0 0;
}

.userAvatar{
    width: 10%;
}

.row>.d-flex{
    padding: 0;
}

#Lheader,
#Rheader{
    background-color: #e6e6e6;
    height: 8%;
}

#alertNotifiche{
    background-color: #8cd7fa;
}

.CapFontSizeBold{
    text-transform: capitalize;
}

.CapFontSizeBold,
.FontSizeBold{
    font-size: 14px;
    font-weight: 500;
}

#attivaNotifiche > a{
    color: #687382;
    font-size: 12px;
}

.fa-solid.fa-bell-slash{
    background-color: white;
    width: 2.5rem;
    aspect-ratio: 1;
}

#SearchBarUtenti{
    width: 100%;
    background-color: #FAFAFA
}

#TabUtenti{
    height: 100%;
}

.fa-solid.fa-magnifying-glass.position-absolute{
    left: 23px;
    top: 14px;
}

.smallGreyText{
    color: #a1a1a1;
    font-size: 10px;
}

.CardUtente,
#Lapp{
    background-color: white;
}


#chatBody{
    background-image: url(/assets/img/mine.jpg);
    height: 84%;
}

#chatSend{
    height: 8%;
    background-color: grey;
}

.orarioUtente{
    right: 5px;
    bottom: 2px;
}

.msgUser{
    background-color: #d2f5b9;
}

.msgOther{
    background-color: white;
}

.msgOther,
.msgUser{
    padding-right: 6rem;
}